force-app/main/default/flows/Populate_Custom_Rollup_Summery_Account_Total_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Account_Total_Amount</name>
        <label>Update Account Total Amount</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>AccountTotalAmountHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>allChildContacts</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Rollup_Summery_Field_Account_Total_Amount</name>
        <label>Rollup Summery Field - Account.Total_Amount ?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Child_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This is to update the Account.Total Amount field when ever an Contact is created or Contact.Amount is updated</description>
    <environments>Default</environments>
    <interviewLabel>Populate Custom Rollup Summery(Account.Total_Amount) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Custom Rollup Summery(Account.Total_Amount)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Child_Records</name>
        <label>Get All Child Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Total_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>allChildContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rollup_Summery_Field_Account_Total_Amount</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allChildContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
